body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  background: url(bg_index.png);
}
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 340px;
  height: 400px;
  padding: 80px 40px;
  box-sizing: border-box;
  color: red;

}
