*{
  margin: 0;
  padding: 0;
  color: white;
}
body{
  font-family: sans-serif;
  background: url(bg.jpg);
  background-size: 1920px;
}
.hero{
  height: 100%;
  width: 100%;
  position: absolute;

}
.form-box{
  width: 380px;
  height: 400px;
  position: relative;
  margin: 6% auto;
  padding: 5px;
  background-color: #3A3A3A;
  box-shadow: 0 0 20px 2px black;
  overflow: hidden;
}
.button-box{
  width: 250px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  color: white;
}
.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-size: 15px;
}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #FF105F, #FFAD06);
  border-radius: 30px;
  transition: .5s;
}
.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.input-value{
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid orange;
  outline: none;
  background: transparent;
}
.sumbit-btn{
    width: 85%;
    padding:10px 30px;
    cursor: pointer;;
    display: block;
    margin: 20px auto;
    background: linear-gradient(to right, #FF105F, #FFAD06);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
}
.sumbit-btn:hover{
  border-radius: 100rem;
  padding: 1rem;
  padding: .5rem 3rem;
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FF105F, #FFAD06);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #3A3A3A inset;
}
#login{
  left:50px;
}
#register{
  left:450px;
}
